*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
    background: url('./assets/background.svg');
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 16px 20px;
    background-color: white;
}

nav ul{
   display: flex;
   list-style: none;
   width: 150px ;
   justify-content: space-around;
   align-items: center;
}

nav ul a{
    text-decoration: none;
    color: black;
}

.login-illustration{
    position: abosolute;
    width: 427px ;
    height: 10px ;
    left: 150px ;
    bottom: 100px;
}

.welcome-back{
    position: absolute;
    width: 386px ;
    height: 28px ;
    left  : 148px  ;
    top   :  212px ;
    font-size: 36px ;
    line-height: 49px ;
    display: flex;
    align-items: center;
    color: white;       
}

.sub-text{
    position: absolute;
    width: 500px ;
    height: 65px ;
    left  : 148px  ;
    top   :  270px ;
    font-size: 18px ;
    line-height: 25px ;
    font-weight: 300;
    color: white;
}

.myform{
    position: absolute;
    width: 440px ;
    height: 529px ;
    left: 850px ;
    top: 209px ;
    background-color: white;
    display: flex ;
    flex-direction: column;
    align-items: center ;
    box-sizing: 0px 6px 9px rgba(0,0,0,1);
}

.myform form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 35px ;
}

